
@media (min-width: 600px) and (max-width:999px) {
	body {
		margin:10px;
	}
	aside {
		width:20%;
		float:right;
		background-color:red;
		min-height:400px; /* Later use JS to set same size as section */
	}
	section {
		width:80%;
		float:left;
		background-color:yellow;
	}
	#content {
		width:100%;
	}
}
@media (min-width: 1000px) {
	body {
		margin:40px;
	}
	#content {
		display:block;
		margin:0px auto;
		width:940px;
	}
	aside {
		width:20%;
		float:right;
		background-color:red;
		min-height:400px; /* Later use JS to set same size as section */
	}
	section {
		width:80%; 
		float: left;
		background-color:yellow;
	}
	

}
@media (max-width: 600px) {
    body {
        margin:5px;
    }
	aside {
		width:100%;
		float:right;
		background-color:red;
		min-height:400px; /* Later use JS to set same size as section */
	}
	section {
		width:100%;
		float:left;
		background-color:yellow;
	}
	#content {
		width:100%;
	}
}


header {
	width: 100%;
	text-align:center;
	margin:0px auto;
	
	background-color:gray;
	height: 100px;
}



section article {
	width: 90%;
	min-height:75px;
	padding:10px;
	margin:30px auto;
	border: 1px black solid;	
	
	background-color:gray;
}

section article .voteDiv {
	float:left;
	height:90%;
	background-color: green;
	font-size:24px;
}
section article .voteDiv:hover{
	cursor:pointer;
}
section article .voteDiv .voteNumber {
	font-size:14px;
	font-weight:bold;
}

section article .postTitle {
	height:25px;
	background-color: red;
	padding-left:50px;
	font-size:20px;
	font-weight:bold;
}

section article .postContent {
	background-color: violet;
	margin-left:20px;
	padding-left:20px;
	border:1px gray solid;
}

section article .postCategory {
	height:20x;
	background-color: orange;
	padding-left:50px;
}

section article .postDetails {
	height:25px;
	background-color: purple;
	padding-left:50px;
	font-style:italic;
}



aside #categoryFilters, aside #profile, aside #search {
	padding:20px;
}

aside #profile {
	background-color:blue;
}

aside #search {
	background-color:green;
}

aside #categoryFilters {
	background-color:purple;
}

footer {
	width: 100%;
	float:left;
	background-color: gray;
	text-align:center;
	margin:0px auto;
}

.categoryTag {
	border: 2px solid magenta;
	font-size:12px;
	font-style:italic;
	font-weight:bold;
	background-color:red;
	border-radius:8px;
	margin-right:10px;
}

#fullPost {
	height:auto;
}

.commentChain {
	border:1px solid black;
}

.replyInput {
	height:70px;
	width:200px;
}

.voteArrow {
	width:20px;
	height:20px;
}

#searchBox {
	margin:10px;
	width:70%;
}
#searchImage {
	height:15px;
	width:15px;
}
#searchImage:hover {
	cursor:pointer;
}

#registerForm {
	
}